*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff0e5;
}
.container{
    max-width: 1200px;
    margin: 50px auto;
}
h1{
    font-family: 'Inconsolata', sans-serif;
    font-size: 42px;
    font-weight: 700;

    margin: 0 30px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 0 30px;
}
.project{
    max-width: 100%;
    height: fit-content;
    margin: 30px 0;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;

    box-shadow: 0 0 rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}
.project:last-of-type{
    margin-left: 30px;
}
.project:focus{
    border: 1px solid black;
}
.project:hover{
    box-shadow: -7px 7px #10162f;
    transform: translate(7px, -7px);
    transition: all 0.3s ease-in-out;
}
img{
    max-width: 100%;
}
